/** 
 * Example custom color variables
 * @see https://canopy-iiif.github.io/app/docs/theming/tailwind#custom
 */

/* @layer theme {
  :root,
  :host {
    --color-northwestern-purple: #4e2a84;
    --color-accent-700: var(--color-northwestern-purple);
    --color-accent-default: var(--color-northwestern-purple);
  }
} */

.canopy-gallery {
  padding: 0;
  margin: 0;
}

.canopy-gallery__modal:not([data-canopy-gallery-active]) {
  width: 0;
  height: 0;
}

.canopy-gallery__heading {
  margin: 0;
  padding: 0;
  font-size: 2.618rem;
}

.canopy-gallery__description {
  max-width: unset;
  font-size: 1.222rem;
  margin-top: 1rem;
}

.canopy-gallery-item__content_flex {
  display: flex;
  gap: 2rem;

  aside {
    min-width: 400px;
    padding-right: 2rem;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  dt {
    text-transform: uppercase;
    color: var(--color-gray-muted);
    margin: 0;
    font-size: 0.7222rem;
    font-weight: 400;
    margin-top: 0.85rem;
  }

  dd {
    color: var(--color-gray-900);
    margin: 0;
    font-size: 1rem;
    line-height: 1.45;
  }
}
